@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
#specs {
  width: 0;
  position: relative;
  margin: 0 auto;
}

.spec {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  position: absolute;
  height: 85vh;
  border-radius: 30px;
  top: 5%;
  right: 3%;
}
.spec img {
  width: 100%;
  height: auto;
}

.specLinks {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  margin: 0;
}
.specLinks .link {
  background-color: #242323;
  font-family: "Bubblegum Sans";
  font-size: clamp(1em, 1.5vw, 1.5em);
  width: auto;
  margin: 7px;
  padding: 5px 25px;
  text-align: center;
  border-radius: 10px;
  border: solid 3px #303030;
  padding: 7px;
}
.specLinks a {
  text-decoration: none;
}

#stats {
  position: absolute;
  top: 0;
  right: -50px;
  width: 25vw;
  height: 100vh;
  background-color: #181818;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}
#stats .spec {
  display: flex;
}

.statBar {
  position: relative;
  width: 85%;
  margin: 7% 0;
  color: white;
  font-size: 0.85em;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  font-family: "Lexend";
}
.statBar div {
  padding: 12px;
  width: 25%;
}
.statBar div:first-child {
  border-radius: 50px 0 0 50px;
}
.statBar div:last-child {
  border-radius: 0 50px 50px 0;
}

#Warrior h1, #Warrior h2, #Warrior li {
  color: #C69B6D;
}
#Warrior li:hover {
  border-color: #C69B6D !important;
}

#Hunter h1, #Hunter h2, #Hunter li {
  color: #A9CE77;
}
#Hunter li:hover {
  border-color: #A9CE77 !important;
}

#Mage h1, #Mage h2, #Mage li {
  color: #3FC7EB;
}
#Mage li:hover {
  border-color: #3FC7EB !important;
}

#Rogue h1, #Rogue h2, #Rogue li {
  color: #F7EE70;
}
#Rogue li:hover {
  border-color: #F7EE70 !important;
}

#Priest h1, #Priest h2, #Priest li {
  color: #FFFFFF;
}
#Priest li:hover {
  border-color: #FFFFFF !important;
}

#Warlock h1, #Warlock h2, #Warlock li {
  color: #8788EE;
}
#Warlock li:hover {
  border-color: #8788EE !important;
}

#Paladin h1, #Paladin h2, #Paladin li {
  color: #F48CBA;
}
#Paladin li:hover {
  border-color: #F48CBA !important;
}

#Druid h1, #Druid h2, #Druid li {
  color: #ff7c0a;
}
#Druid li:hover {
  border-color: #ff7c0a !important;
}

#Shaman h1, #Shaman h2, #Shaman li, #Shaman li:hover {
  color: #197DDE;
}
#Shaman li:hover {
  border-color: #197DDE !important;
}

#Monk h1, #Monk h2, #Monk li {
  color: #00ff98;
}
#Monk li:hover {
  border-color: #00ff98 !important;
}

#DemonHunter h1, #DemonHunter h2, #DemonHunter li {
  color: #a94ac8;
}
#DemonHunter li:hover {
  border-color: #a94ac8 !important;
}

#DeathKnight h1, #DeathKnight h2, #DeathKnight li {
  color: #c41e3a;
}
#DeathKnight li:hover {
  border-color: #c41e3a !important;
}

#Evoker h1, #Evoker h2, #Evoker li {
  color: #33937f;
}
#Evoker li:hover {
  border-color: #33937f !important;
}

body {
  background-color: #242323;
}

#classes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#stats {
  width: 24vw;
}

div.class {
  margin-top: 2vh;
  width: 32vw;
}
div.class h1, div.class h2 {
  text-align: center;
}
div.class h1 {
  font-size: 2rem;
  font-family: "Lexend";
}
div.class h2 {
  font-family: "Bubblegum Sans";
  font-size: 2.5em;
  margin-top: 0;
}
div.class .specList {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
div.class .specList a {
  font-size: 1.5em;
  font-family: "Bubblegum Sans";
  text-decoration-color: transparent;
  box-shadow: none;
}
div.class .specList li {
  cursor: pointer;
  display: flex;
  width: 30%;
  height: 3.5vh;
  padding: 0 2vw;
  background-color: #181818;
  justify-content: space-evenly;
  padding: 3px 0;
  margin: 0 10px;
  border-radius: 50px;
  align-items: center;
  border: solid 5px #303030;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-decoration: none;
  box-shadow: none;
}
div.class .specList li p, div.class .specList li img {
  pointer-events: none;
}
div.class .specList li p {
  font-family: "Bubblegum Sans";
  font-size: 1em;
}
div.class .specList li img {
  border-radius: 10px;
  width: 17.5%;
  height: 80;
}

.spec {
  padding: 5vh 0;
  margin: 5vh 0;
}

#classInfo {
  display: flex;
}

html {
  scrollbar-width: none;
}/*# sourceMappingURL=main.css.map */