#specs {

    width: 0;
    position: relative;
    margin: 0 auto;
}

.spec {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;
    background: #181818;
    position: absolute;
    height: 85vh;
    // border: 7px solid rgb(48, 48, 48);
    // border-right: none;
    border-radius: 30px;

    top: 5%;
    right: 3%;
    // transform: translate(-50%, -50%);


    img {
        width: 100%;
        height: auto;
    }
}


.specLinks {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    margin: 0;

    .link {
        background-color: #242323;
        font-family: "Bubblegum Sans";
        font-size: clamp(1em, 1.5vw, 1.5em);
        width: auto;
        margin: 7px;
        padding: 5px 25px;
        text-align: center;
        border-radius: 10px;
        border: solid 3px #303030;
        padding: 7px;
        
    }

    a {
        text-decoration: none;
    }

}


// STAT BAR
#stats {
    position: absolute;
    top: 0;
    right: -50px;
    width: 25vw;
    height: 100vh;
    background-color: #181818;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;

    .spec {
        display: flex;
    }
}


.statBar {

    position: relative;
    width: 85%;
    margin: 7% 0;
    color: white;
    font-size: .85em;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: "Lexend";

        div {
            padding: 12px;
            width: 25%;
        }
    
        div:first-child {
            border-radius: 50px 0 0 50px;
        }
        
        div:last-child {
            border-radius: 0 50px 50px 0;
        }
    
}